<div class="common-wrapper">
    <div class="common-search"><form method="post" action="" ><input type="text" name="ss" placeholder="请输入姓名或关键字搜索" class="text"><input type="submit" value="搜索" class="submit"></form></div>
    {{#each get_userdata}}
    <div class="page-user-list fn-clear">
    <div class="page-user-list fn-clear">
        <div class="number">111</div>
         <div class="content">
            <div class="title"><span class="text1"></span> </div>
           <div class="text3"><p><span>姓名：</span></p></div>
            <div class="text3"><p><span>公司名称：</span></p></div>
            <div class="text3"><p><span>个人职位：</span></p></div>
            <div class="text3">
               <p><span>我能提供：</span></p>
            </div>
            <div class="text3">
               <p><span>我需要的资源：</span></p>
            </div>
        </div>
            {{/each}}
    </div>
</div>
<a href="#" class="common-top" style="bottom:12px;"  id="goBottom"><img src="" /></a>