.ui-button * {
  margin: 0;
  padding: 0; }

.ui-button .b-icon {
  margin-right: .2em; }

.ui-button-tag {
  border: none !important;
  padding: 0 .5em !important; }

button.ui-button {
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none; }

.ui-button {
  display: inline-block;
  *display: inline;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  /* Correct font family not being inherited in all browsers for <button> <input> */
  border-radius: 3px;
  padding: 0 20px;
  *zoom: 1;
  *overflow: visible;
  /* for a ie6/7 bug http://blog.csdn.net/jyy_12/article/details/6636099 */
  background-image: none;
  /* for old alice button style conflict */ }

.ui-button .iconfont {
  vertical-align: .05em; }

.ui-button .ui-button-text {
  background: none;
  padding: 0;
  height: auto;
  line-height: auto; }

.ui-button:hover {
  text-decoration: none;
  background-image: none;
  /* for old alice button style conflict */ }

input.ui-button-text, button.ui-button-text {
  *vertical-align: top;
  /* for a ie7 bug */ }

.ui-button:active {
  position: relative;
  top: 1px;
  box-shadow: 1px 1px 3px #999 inset; }

.ui-button-tag:active {
  position: static;
  top: 0;
  box-shadow: none; }

.ui-button-llred, .ui-button-mmred, .ui-button-ssred, .ui-button-lred, .ui-button-mred, .ui-button-sred {
  color: #fff;
  background-color: RGB(233, 86, 68);
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-llred:hover, .ui-button-mmred:hover, .ui-button-ssred:hover, .ui-button-lred:hover, .ui-button-mred:hover, .ui-button-sred:hover {
  background-color: RGB(243, 96, 78); }

a.ui-button-llred, a.ui-button-mmred, a.ui-button-ssred, a.ui-button-llred:hover, a.ui-button-mmred:hover, a.ui-button-ssred:hover, a.ui-button-llred:active, a.ui-button-mmred:active, a.ui-button-ssred:active, a.ui-button-lred, a.ui-button-mred, a.ui-button-sred, a.ui-button-lred:hover, a.ui-button-mred:hover, a.ui-button-sred:hover, a.ui-button-lred:active, a.ui-button-mred:active, a.ui-button-sred:active {
  color: #fff; }

.ui-button-lred {
  height: 32px;
  line-height: 32px; }

.ui-button-mred {
  height: 28px;
  line-height: 28px; }

.ui-button-sred {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-llred {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmred {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-ssred {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

button.ui-button-lred {
  line-height: 30px; }

button.ui-button-mred {
  line-height: 26px; }

button.ui-button-sred {
  line-height: 22px; }

button.ui-button-llred {
  line-height: 48px; }

button.ui-button-mmred {
  line-height: 38px; }

button.ui-button-ssred {
  line-height: 34px; }

.ui-button-llyellow, .ui-button-mmyellow, .ui-button-ssyellow, .ui-button-lyellow, .ui-button-myellow, .ui-button-syellow {
  color: #fff;
  background-color: RGB(255, 180, 49);
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-lyellow:hover, .ui-button-myellow:hover, .ui-button-syellow:hover, .ui-button-lyellow:hover, .ui-button-myellow:hover, .ui-button-syellow:hover {
  background-color: RGB(255, 190, 59); }

a.ui-button-llyellow, a.ui-button-mmyellow, a.ui-button-ssyellow, a.ui-button-llyellow:hover, a.ui-button-mmyellow:hover, a.ui-button-ssyellow:hover, a.ui-button-llyellow:active, a.ui-button-mmyellow:active, a.ui-button-ssyellow:active, a.ui-button-lyellow, a.ui-button-myellow, a.ui-button-syellow, a.ui-button-lyellow:hover, a.ui-button-myellow:hover, a.ui-button-syellow:hover, a.ui-button-lyellow:active, a.ui-button-myellow:active, a.ui-button-syellow:active {
  color: #fff; }

.ui-button-lyellow {
  height: 32px;
  line-height: 32px; }

.ui-button-myellow {
  height: 28px;
  line-height: 28px; }

.ui-button-syellow {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-llyellow {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmyellow {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-ssyellow {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

button.ui-button-lyellow {
  line-height: 30px; }

button.ui-button-myellow {
  line-height: 26px; }

button.ui-button-syellow {
  line-height: 22px; }

button.ui-button-llyellow {
  line-height: 48px; }

button.ui-button-mmyellow {
  line-height: 38px; }

button.ui-button-ssyellow {
  line-height: 34px; }

.ui-button-llblue, .ui-button-mmblue, .ui-button-ssblue, .ui-button-lblue, .ui-button-mblue, .ui-button-sblue {
  border: none;
  color: #fff;
  background-color: RGB(51, 169, 224);
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-llblue:hover, .ui-button-mmblue:hover, .ui-button-ssblue:hover, .ui-button-lblue:hover, .ui-button-mblue:hover, .ui-button-sblue:hover {
  background-color: RGB(61, 179, 234); }

a.ui-button-llblue, a.ui-button-mmblue, a.ui-button-ssblue, a.ui-button-llblue:active, a.ui-button-mmblue:active, a.ui-button-ssblue:active, a.ui-button-llblue:hover, a.ui-button-mmblue:hover, a.ui-button-ssblue:hover, a.ui-button-lblue, a.ui-button-mblue, a.ui-button-sblue, a.ui-button-lblue:active, a.ui-button-mblue:active, a.ui-button-sblue:active, a.ui-button-lblue:hover, a.ui-button-mblue:hover, a.ui-button-sblue:hover {
  color: #fff; }

.ui-button-lblue {
  height: 32px;
  line-height: 32px; }

.ui-button-mblue {
  height: 28px;
  line-height: 28px; }

.ui-button-sblue {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-llblue {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmblue {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-ssblue {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

button.ui-button-lblue {
  line-height: 30px; }

button.ui-button-mblue {
  line-height: 26px; }

button.ui-button-sblue {
  line-height: 22px; }

button.ui-button-llblue {
  line-height: 48px; }

button.ui-button-mmblue {
  line-height: 38px; }

button.ui-button-ssblue {
  line-height: 34px; }

.ui-button-llgreen, .ui-button-mmgreen, .ui-button-ssgreen, .ui-button-lgreen, .ui-button-mgreen, .ui-button-sgreen {
  border: none;
  color: #fff;
  background-color: #49cb86;
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-llgreen:hover, .ui-button-mmgreen:hover, .ui-button-ssgreen:hover, .ui-button-lgreen:hover, .ui-button-mgreen:hover, .ui-button-sgreen:hover {
  background-color: #51dd92; }

a.ui-button-llgreen, a.ui-button-mmgreen, a.ui-button-ssgreen, a.ui-button-llgreen:active, a.ui-button-mmgreen:active, a.ui-button-ssgreen:active, a.ui-button-llgreen:hover, a.ui-button-mmgreen:hover, a.ui-button-ssgreen:hover, a.ui-button-lgreen, a.ui-button-mgreen, a.ui-button-sgreen, a.ui-button-lgreen:active, a.ui-button-mgreen:active, a.ui-button-sgreen:active, a.ui-button-lgreen:hover, a.ui-button-mgreen:hover, a.ui-button-sgreen:hover {
  color: #fff; }

.ui-button-lgreen {
  height: 32px;
  line-height: 32px; }

.ui-button-mgreen {
  height: 28px;
  line-height: 28px; }

.ui-button-sgreen {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-llgreen {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmgreen {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-ssgreen {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

button.ui-button-lgreen {
  line-height: 30px; }

button.ui-button-mgreen {
  line-height: 26px; }

button.ui-button-sgreen {
  line-height: 22px; }

button.ui-button-llgreen {
  line-height: 48px; }

button.ui-button-mmgreen {
  line-height: 38px; }

button.ui-button-ssgreen {
  line-height: 34px; }

.ui-button-llgray, .ui-button-mmgray, .ui-button-ssgray, .ui-button-lgray, .ui-button-mgray, .ui-button-sgray {
  border: none;
  color: #fff;
  background-color: RGB(187, 187, 187);
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-llgray:hover, .ui-button-mmgray:hover, .ui-button-ssgray:hover, .ui-button-lgray:hover, .ui-button-mgray:hover, .ui-button-sgray:hover {
  background-color: RGB(197, 197, 197); }

a.ui-button-llgray, a.ui-button-mmgray, a.ui-button-ssgray, a.ui-button-llgray:active, a.ui-button-mmgray:active, a.ui-button-ssgray:active, a.ui-button-llgray:hover, a.ui-button-mmgray:hover, a.ui-button-ssgray:hover, a.ui-button-lgray, a.ui-button-mgray, a.ui-button-sgray, a.ui-button-lgray:active, a.ui-button-mgray:active, a.ui-button-sgray:active, a.ui-button-lgray:hover, a.ui-button-mgray:hover, a.ui-button-sgray:hover {
  color: #fff; }

.ui-button-lgray {
  height: 32px;
  line-height: 32px; }

.ui-button-mgray {
  height: 28px;
  line-height: 28px; }

.ui-button-sgray {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-llgray {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmgray {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-ssgray {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

button.ui-button-lgray {
  line-height: 30px; }

button.ui-button-mgray {
  line-height: 26px; }

button.ui-button-sgray {
  line-height: 22px; }

button.ui-button-llgray {
  line-height: 48px; }

button.ui-button-mmgray {
  line-height: 38px; }

button.ui-button-ssgray {
  line-height: 34px; }

.ui-button-llblack, .ui-button-mmblack, .ui-button-ssblack, .ui-button-lblack, .ui-button-mblack, .ui-button-sblack {
  border: none;
  color: #fff;
  background-color: #444;
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-llblack:hover, .ui-button-mmblack:hover, .ui-button-ssblack:hover, .ui-button-lblack:hover, .ui-button-mblack:hover, .ui-button-sblack:hover {
  background-color: #555; }

a.ui-button-llblack, a.ui-button-mmblack, a.ui-button-ssblack, a.ui-button-llblack:active, a.ui-button-mmblack:active, a.ui-button-ssblack:active, a.ui-button-llblack:hover, a.ui-button-mmblack:hover, a.ui-button-ssblack:hover, a.ui-button-lblack, a.ui-button-mblack, a.ui-button-sblack, a.ui-button-lblack:active, a.ui-button-mblack:active, a.ui-button-sblack:active, a.ui-button-lblack:hover, a.ui-button-mblack:hover, a.ui-button-sblack:hover {
  color: #fff; }

.ui-button-lblack {
  height: 32px;
  line-height: 32px; }

.ui-button-mblack {
  height: 28px;
  line-height: 28px; }

.ui-button-sblack {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-llblack {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmblack {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-ssblack {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

button.ui-button-lblack {
  line-height: 30px; }

button.ui-button-mblack {
  line-height: 26px; }

button.ui-button-sblack {
  line-height: 22px; }

button.ui-button-llblack {
  line-height: 48px; }

button.ui-button-mmblack {
  line-height: 38px; }

button.ui-button-ssblack {
  line-height: 34px; }

.ui-button-lldarkcyan, .ui-button-mmdarkcyan, .ui-button-ssdarkcyan, .ui-button-ldarkcyan, .ui-button-mdarkcyan, .ui-button-sdarkcyan {
  border: none;
  color: #fff;
  background-color: #588f92;
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-lldarkcyan:hover, .ui-button-mmdarkcyan:hover, .ui-button-ssdarkcyan:hover, .ui-button-ldarkcyan:hover, .ui-button-mdarkcyan:hover, .ui-button-sdarkcyan:hover {
  background-color: #68AFB3; }

a.ui-button-lldarkcyan, a.ui-button-mmdarkcyan, a.ui-button-ssdarkcyan, a.ui-button-lldarkcyan:active, a.ui-button-mmdarkcyan:active, a.ui-button-ssdarkcyan:active, a.ui-button-lldarkcyan:hover, a.ui-button-mmdarkcyan:hover, a.ui-button-ssdarkcyan:hover, a.ui-button-ldarkcyan, a.ui-button-mdarkcyan, a.ui-button-sdarkcyan, a.ui-button-ldarkcyan:active, a.ui-button-mdarkcyan:active, a.ui-button-sdarkcyan:active, a.ui-button-ldarkcyan:hover, a.ui-button-mdarkcyan:hover, a.ui-button-sdarkcyan:hover {
  color: #fff; }

.ui-button-ldarkcyan {
  height: 32px;
  line-height: 32px; }

.ui-button-mdarkcyan {
  height: 28px;
  line-height: 28px; }

.ui-button-sdarkcyan {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-lldarkcyan {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmdarkcyan {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-ssdarkcyan {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

button.ui-button-ldarkcyan {
  line-height: 30px; }

button.ui-button-mdarkcyan {
  line-height: 26px; }

button.ui-button-sdarkcyan {
  line-height: 22px; }

button.ui-button-lldarkcyan {
  line-height: 48px; }

button.ui-button-mmdarkcyan {
  line-height: 38px; }

button.ui-button-ssdarkcyan {
  line-height: 34px; }

.ui-button-llbrown, .ui-button-mmbrown, .ui-button-ssbrown, .ui-button-lbrown, .ui-button-mbrown, .ui-button-sbrown {
  border: none;
  color: #fff;
  background-color: #aa6e70;
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-llbrown:hover, .ui-button-mmbrown:hover, .ui-button-ssbrown:hover, .ui-button-lbrown:hover, .ui-button-mbrown:hover, .ui-button-sbrown:hover {
  background-color: #C27C7E; }

a.ui-button-llbrown, a.ui-button-mmbrown, a.ui-button-ssbrown, a.ui-button-llbrown:active, a.ui-button-mmbrown:active, a.ui-button-ssbrown:active, a.ui-button-llbrown:hover, a.ui-button-mmbrown:hover, a.ui-button-ssbrown:hover, a.ui-button-lbrown, a.ui-button-mbrown, a.ui-button-sbrown, a.ui-button-lbrown:active, a.ui-button-mbrown:active, a.ui-button-sbrown:active, a.ui-button-lbrown:hover, a.ui-button-mbrown:hover, a.ui-button-sbrown:hover {
  color: #fff; }

.ui-button-lbrown {
  height: 32px;
  line-height: 32px; }

.ui-button-mbrown {
  height: 28px;
  line-height: 28px; }

.ui-button-sbrown {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-llbrown {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmbrown {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-ssbrown {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

button.ui-button-lbrown {
  line-height: 30px; }

button.ui-button-mbrown {
  line-height: 26px; }

button.ui-button-sbrown {
  line-height: 22px; }

button.ui-button-llbrown {
  line-height: 48px; }

button.ui-button-mmbrown {
  line-height: 38px; }

button.ui-button-ssbrown {
  line-height: 34px; }

.ui-button-llorange, .ui-button-mmorange, .ui-button-ssorange, .ui-button-lorange, .ui-button-morange, .ui-button-sorange {
  border: none;
  color: #fff;
  background-color: #ff9a00;
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-llorange:hover, .ui-button-mmorange:hover, .ui-button-ssorange:hover, .ui-button-lorange:hover, .ui-button-morange:hover, .ui-button-sorange:hover {
  background-color: #FF902C; }

a.ui-button-llorange, a.ui-button-mmorange, a.ui-button-ssorange, a.ui-button-llorange:active, a.ui-button-mmorange:active, a.ui-button-ssorange:active, a.ui-button-llorange:hover, a.ui-button-mmorange:hover, a.ui-button-ssorange:hover, a.ui-button-lorange, a.ui-button-morange, a.ui-button-sorange, a.ui-button-lorange:active, a.ui-button-morange:active, a.ui-button-sorange:active, a.ui-button-lorange:hover, a.ui-button-morange:hover, a.ui-button-sorange:hover {
  color: #fff; }

.ui-button-lorange {
  height: 32px;
  line-height: 32px; }

.ui-button-morange {
  height: 28px;
  line-height: 28px; }

.ui-button-sorange {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-llorange {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmorange {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-ssorange {
  padding: 0 16px;
  height: 38px;
  line-height: 36x;
  font-size: 16px; }

button.ui-button-lorange {
  line-height: 30px; }

button.ui-button-morange {
  line-height: 26px; }

button.ui-button-sorange {
  line-height: 22px; }

button.ui-button-llorange {
  line-height: 48px; }

button.ui-button-mmorange {
  line-height: 38px; }

button.ui-button-ssorange {
  line-height: 34px; }

.ui-button-llwhite, .ui-button-mmwhite, .ui-button-sswhite, .ui-button-lwhite, .ui-button-mwhite, .ui-button-swhite {
  border: none;
  color: #409ede;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-llwhite:hover, .ui-button-mmwhite:hover, .ui-button-sswhite:hover, .ui-button-lwhite:hover, .ui-button-mwhite:hover, .ui-button-swhite:hover {
  background-color: #FEFEFE; }

a.ui-button-llwhite, a.ui-button-mmwhite, a.ui-button-sswhite, a.ui-button-llwhite:active, a.ui-button-mmwhite:active, a.ui-button-sswhite:active, a.ui-button-llwhite:hover, a.ui-button-mmwhite:hover, a.ui-button-sswhite:hover, a.ui-button-lwhite, a.ui-button-mwhite, a.ui-button-swhite, a.ui-button-lwhite:active, a.ui-button-mwhite:active, a.ui-button-swhite:active, a.ui-button-lwhite:hover, a.ui-button-mwhite:hover, a.ui-button-swhite:hover {
  color: #409ede; }

.ui-button-lwhite {
  height: 32px;
  line-height: 32px; }

.ui-button-mwhite {
  height: 28px;
  line-height: 28px; }

.ui-button-swhite {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-llwhite {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmwhite {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-sswhite {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

button.ui-button-lwhite {
  line-height: 30px; }

button.ui-button-mwhite {
  line-height: 26px; }

button.ui-button-swhite {
  line-height: 22px; }

button.ui-button-llwhite {
  line-height: 48px; }

button.ui-button-mmwhite {
  line-height: 38px; }

button.ui-button-sswhite {
  line-height: 34px; }
