.ui-button-llwhite, .ui-button-mmwhite, .ui-button-sswhite, .ui-button-lwhite, .ui-button-mwhite, .ui-button-swhite {
  border: none;
  color: #409ede;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(11, 11, 11, 0.1); }

.ui-button-llwhite:hover, .ui-button-mmwhite:hover, .ui-button-sswhite:hover, .ui-button-lwhite:hover, .ui-button-mwhite:hover, .ui-button-swhite:hover {
  background-color: #FEFEFE; }

a.ui-button-llwhite, a.ui-button-mmwhite, a.ui-button-sswhite, a.ui-button-llwhite:active, a.ui-button-mmwhite:active, a.ui-button-sswhite:active, a.ui-button-llwhite:hover, a.ui-button-mmwhite:hover, a.ui-button-sswhite:hover, a.ui-button-lwhite, a.ui-button-mwhite, a.ui-button-swhite, a.ui-button-lwhite:active, a.ui-button-mwhite:active, a.ui-button-swhite:active, a.ui-button-lwhite:hover, a.ui-button-mwhite:hover, a.ui-button-swhite:hover {
  color: #409ede; }

.ui-button-lwhite {
  height: 32px;
  line-height: 32px; }

.ui-button-mwhite {
  height: 28px;
  line-height: 28px; }

.ui-button-swhite {
  padding: 0 12px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.ui-button-llwhite {
  padding: 0 24px;
  height: 50px;
  line-height: 50px;
  font-size: 24px; }

.ui-button-mmwhite {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }

.ui-button-sswhite {
  padding: 0 16px;
  height: 36px;
  line-height: 36px;
  font-size: 16px; }

button.ui-button-lwhite {
  line-height: 30px; }

button.ui-button-mwhite {
  line-height: 26px; }

button.ui-button-swhite {
  line-height: 22px; }

button.ui-button-llwhite {
  line-height: 48px; }

button.ui-button-mmwhite {
  line-height: 38px; }

button.ui-button-sswhite {
  line-height: 34px; }
