.ui-button-llblue,
.ui-button-mmblue,
.ui-button-ssblue,
.ui-button-lblue,
.ui-button-mblue,
.ui-button-sblue {
    border:none;
    color:#fff;
    background-color: RGB(51,169,224);
    box-shadow:0px 1px 1px rgba(11,11,11,.1);
}
.ui-button-llblue:hover,
.ui-button-mmblue:hover,
.ui-button-ssblue:hover,
.ui-button-lblue:hover,
.ui-button-mblue:hover,
.ui-button-sblue:hover {
    background-color: RGB(61,179,234);
}
a.ui-button-llblue,
a.ui-button-mmblue,
a.ui-button-ssblue,
a.ui-button-llblue:active,
a.ui-button-mmblue:active,
a.ui-button-ssblue:active,
a.ui-button-llblue:hover,
a.ui-button-mmblue:hover,
a.ui-button-ssblue:hover,
a.ui-button-lblue,
a.ui-button-mblue,
a.ui-button-sblue,
a.ui-button-lblue:active,
a.ui-button-mblue:active,
a.ui-button-sblue:active,
a.ui-button-lblue:hover,
a.ui-button-mblue:hover,
a.ui-button-sblue:hover {
    color:#fff;
}

.ui-button-lblue {
    height:32px;
    line-height:32px;
}

.ui-button-mblue {
    height:28px;
    line-height: 28px;
}

.ui-button-sblue {
    padding: 0 12px;
    height:24px;
    line-height: 24px;
    font-size:12px;
}

.ui-button-llblue {
    padding: 0 24px;
    height:50px;
    line-height: 50px;
    font-size:24px;

}

.ui-button-mmblue {
    padding: 0 20px;
    height:40px;
    line-height: 40px;
    font-size:20px;
}

.ui-button-ssblue {
    padding: 0 16px;
    height:36px;
    line-height: 36px;
    font-size:16px;
}
button.ui-button-lblue{
    line-height: 30px;
}
button.ui-button-mblue{
    line-height:26px;
}
button.ui-button-sblue{
    line-height:22px;
}
button.ui-button-llblue{
    line-height: 48px;
}
button.ui-button-mmblue{
    line-height:38px;
}
button.ui-button-ssblue{
    line-height:34px;
}