@charset "utf-8";
/*! define alice/base/1.0.2/base-debug.css */
/* alice.base 样式模块 */

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color:#000;background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:14px/1.5 tahoma,arial,"Microsoft Yahei","Hiragino Sans GB",\5b8b\4f53;
}
input,select,textarea {
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img {
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

i{
    font-style: initial;
}
u{
    text-decoration: none;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* 正常链接 未访问 */
// a:link {
//     color: #08c;
// }

// /* 鼠标悬停 */
// a:hover {
//     color: #08c;
//     text-decoration: underline;
// }


/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* 代码字体 */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

i{
    font-style: normal;
}

/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
.fn-hide {
    display:none;
}


/* 设置内联, 减少浮动带来的bug */
.fn-left,
.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}

/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* 人民币符号 */
.fn-rmb {
    font-family: arial;
    font-style: normal;
    padding-right: 4px;
}

/* chrome 下字体过小的问题 */
.fn-webkit-adjust {
    -webkit-text-size-adjust: none;
}




.ui-loading-html {
    background: url(/img/loading.gif) no-repeat center;
    height: 100%;
    background-size:50px 50px;
    body {
        display: none;
    }
}

.ui-loading {
    background: url(/img/loading.gif) no-repeat center;
    background-size:50px 50px !important;
}

a {
    color: #409ede;
}

// Ref: http://docs.spmjs.io/alice-form/latest/
@import "alice/form/1.1.0/form.scss";
// Ref: http://docs.spmjs.io/alice-button/latest/
@import "alice/button/1.2.0/button.scss";
// Ref: https://github.com/rain-team/ui-grid
@import "rainui/grid/0.0.1/grid.scss";

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1435558646_1173122.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1435558646_1173122.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1435558646_1173122.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1435558646_1173122.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1435558646_1173122.svg#iconfont') format('svg'); /* iOS 4.1- */
}
html,
body{
    background-color: white;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:1.2em;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.ui-form-gary {
    padding:13px 10px;
    background-color:#f7f7f7;
    border-top:1px solid #eeeeee;
    box-shadow:0px 1100px 0px #eee;
}
.ui-form-singe{
    .ui-form-item {
        padding-left: 0px;
    }
}

.ui-form {
    .ui-input,
    .ui-button {
        width:100%;
    }
}
.ui-input{
    padding:8px 0px;
    text-indent:10px;
    border:1px solid #DDD;
    border-radius:3px;
    &:hover{
        border-color:#BBB;
    }
}
.ui-form {
	.txt{
		text-align:center;
        font-size:14px;
		padding:6px 0 10px 0;
		.iconfont{
			color:#00b32e;
			font-size:30px;
		}
	}
    .info {
        text-align:center;
        font-size:14px;
        color:#666666;
    }
}




.b-nodata {
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
}