@charset "UTF-8";
html, body {
  font-family: Arial,"微软雅黑" !important;
  font-size: 14px !important;
  background: #f5f5f5 !important;
  height: 100%;
  min-width: 320px;
  color: #666; }

.c-header {
  height: 40px;
  line-height: 40px;
  background-color: #409ede;
  color: white;
  text-shadow: 0px 1px 2px rgba(11, 11, 11, 0.3);
  font-size: 15px; }
  .c-header .ui-grid {
    padding-left: 10px;
    padding-right: 10px; }
  .c-header .logo {
    width: 94px;
    vertical-align: -.3em; }
  .c-header .title {
    text-align: center; }
  .c-header .links {
    cursor: pointer;
    text-align: right; }
    .c-header .links .find {
      border-left: 1px solid #337eb2;
      padding-left: 12px;
      margin-left: 12px; }
  .c-header a {
    color: white; }
  .c-header .userorlogin {
    color: #83fffe; }
    .c-header .userorlogin .iconfont {
      padding-right: .3em; }

.c-jumbotron {
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center; }
  .c-jumbotron h1 {
    font-size: 30px; }
    .c-jumbotron h1 .logo {
      width: 220px; }
  .c-jumbotron p {
    color: #999999;
    font-size: 14px; }

.c-list .item {
  margin-bottom: 10px;
  background-color: #f7f7f7;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE; }
.c-list .photo img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%; }
.c-list .title {
  display: block;
  line-height: 26px;
  font-size: 14px;
  color: #000; }
.c-list .detail {
  padding-left: 12px;
  padding-right: 12px;
  color: #999999;
  font-size: 12px; }
  .c-list .detail .iconfont {
    color: #409ede; }
.c-list .qrcode {
  margin-top: 10px;
  width: 100%; }

.overflow-hidden {
  overflow: hidden; }

.c-find-mask {
  position: fixed;
  z-index: 100;
  top: -200%;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: #409ede;
  color: white; }
  .c-find-mask .inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
  .c-find-mask .close {
    display: block;
    padding: 10px;
    font-size: 25px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer; }
  .c-find-mask .main-title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px; }
  .c-find-mask .social-login .title {
    display: block;
    position: relative;
    font-size: 14px;
    text-align: center; }
    .c-find-mask .social-login .title strong {
      position: relative;
      z-index: 2;
      font-weight: 300;
      background-color: #409ede;
      padding-left: 1em;
      padding-right: 1em; }
    .c-find-mask .social-login .title:after {
      content: '';
      border-top: 1px solid white;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 1;
      width: 100%; }
  .c-find-mask .social-login .links {
    text-align: center; }
    .c-find-mask .social-login .links a {
      color: white;
      font-size: 80px; }
  .c-find-mask .user-link {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: right;
    border-bottom: 1px solid white; }
    .c-find-mask .user-link a {
      color: #feef4e;
      font-size: 14px; }
  .c-find-mask .nav {
    text-align: center; }
    .c-find-mask .nav .ui-button .iconfont {
      margin-right: .3em; }
    .c-find-mask .nav .fill {
      padding: 0;
      width: 100%; }
    .c-find-mask .nav .labels {
      width: 100%;
      margin-top: 20px; }
    .c-find-mask .nav .label {
      display: inline-block;
      border: 1px dashed white;
      color: white;
      line-height: 28px;
      height: 28px;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 10px;
      margin-bottom: 10px; }
    .c-find-mask .nav .label:nth-child(4n) {
      margin-right: 0; }
    .c-find-mask .nav span.label {
      text-decoration: line-through;
      opacity: .8; }

.c-tab {
  background-color: #f2f2f2;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
  position: relative; }
  .c-tab:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: ' ';
    height: 0;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #d5d5d5; }
  .c-tab .tab {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 96%;
    border: 1px solid #f2f2f2;
    color: #666666; }
  .c-tab .tab-active, .c-tab .tab:hover {
    position: relative;
    z-index: 2;
    background-color: white;
    border: 1px solid #d5d5d5;
    border-bottom: 1px solid white; }
  .c-tab .tab-active {
    color: #ff9a00; }
