.c-header{
    .ui-grid{
        padding-left: 10px;
        padding-right: 10px;
    }
    height: 40px;
    line-height: 40px;
    background-color: #409ede;
    // padding-left: 10px;
    // padding-right: 10px;
    color: white;
    text-shadow:0px 1px 2px rgba(11,11,11,.3);
    font-size:15px;
    .logo {
        width: 94px;
        vertical-align: -.3em;
    }
    .title {
        text-align: center;
    }
    .links {
        cursor:pointer;
        text-align: right;
        .find {
            border-left:1px solid #337eb2;
            padding-left: 12px;
            margin-left: 12px;
        }
    }
    a {
        color:white;
    }
    .userorlogin {
        color: #83fffe;
        .iconfont {
            padding-right: .3em;
        }
    }
}


.c-jumbotron {
    background-color:#f6f6f6;
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
    h1{
        font-size:30px;
        .logo {
            width:220px;
        }
    }
    p{
        color:#999999;
        font-size:14px;
    }
}

.c-list {
    .item {
        margin-bottom: 10px;
        background-color:#f7f7f7;
        padding-bottom: 10px;
        border-bottom:1px solid #EEE;
    }
    // 图片高度150 水平居中
    // .photo {
    //     position: relative;
    //     height:150px;
    //     img{
    //         position: absolute;
    //         top: 50%; left: 50%;
    //         transform: translate(-50%,-50%);
    //         height:150px;
    //     }
    // }
    .photo {
        img{
            border-top-left-radius:3px;
            border-top-right-radius:3px;
            width:100%;
        }
    }
    .title {
        display: block;
        line-height: 26px;
        font-size:14px;
        color:#000;
        // 老板说不截掉
        // overflow:hidden;;
        // text-overflow:ellipsis;
        // white-space:nowrap;
    }
    .detail {
        padding-left: 12px;padding-right: 12px;
        color:#999999;
        font-size:12px;
        .iconfont {
            color:#409ede;
        }
    }
    .qrcode {
        margin-top: 10px;
        width:100%;
    }
}

.overflow-hidden {
    overflow: hidden;
}
.c-find-mask {
    position: fixed;
    z-index: 100;
    top:-200%;
    left:0;
    width:100%;
    height:200%;
    background-color:#409ede;
    color:white;
    .inner {
        width:90%;
        margin-left: auto;
        margin-right: auto;
    }
    .close {
        display: block;
        padding:10px;
        font-size:25px;
        position: absolute;
        right: 0px;top:0px;
        cursor: pointer;
    }
    .main-title {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size:25px;
    }
    .social-login{
        .title {
            display: block;
            position: relative;
            font-size:14px;
            text-align: center;
            strong{
                position:relative;
                z-index: 2;
                font-weight: 300;
                background-color:#409ede;
                padding-left: 1em;
                padding-right: 1em;
            }
            &:after {
                content: '';
                border-top:1px solid white;
                position: absolute;top:50%;left:0;
                z-index: 1;
                width:100%;
            }
        }
        .links {
            text-align: center;
            a {
                color:white;
                font-size:80px;
            }
        }
    }
    .user-link {
        padding-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        text-align: right;
        border-bottom:1px solid white;
        a {
            color: #feef4e;
            font-size:14px;
        }
    }
    .nav {
        text-align: center;
        .ui-button {
            .iconfont {
                margin-right: .3em;
            }
        }
        .fill {
            padding:0;
            width:100%;
        }
        .labels {
            width:100%;
            margin-top: 20px;
        }
        .label {
            display: inline-block;
            border: 1px dashed white;
            color:white;
            line-height:28px;
            height: 28px;
            padding-left: 15px;
            padding-right: 15px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
        .label:nth-child(4n) {
            margin-right: 0;
        }
        span.label {
            text-decoration: line-through;
            opacity: .8;
        }
    }
}

.c-tab {
    background-color: #f2f2f2;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    position: relative;

    &:after {
        position: absolute;
        left:0;
        bottom:0;
        content: ' ';
        height: 0;
        overflow:hidden;
        width:100%;
        border-bottom:1px solid #d5d5d5;
    }
    .tab {
        cursor: pointer;
        display:inline-block;
        box-sizing:border-box;
        height:30px;
        line-height: 30px;
        text-align: center;
        width:96%;
        border:1px solid #f2f2f2;
        color:#666666;

    }
    .tab-active,
    .tab:hover{
        position:relative;
        z-index: 2;
        background-color:white;
        border:1px solid #d5d5d5;
        border-bottom:1px solid white;
    }
    .tab-active {
        color:#ff9a00;
    }
}