body {
    // 为了给 固定屏幕底部的 .join-link 留出位置
    padding-bottom: 80px;
}
.p-act-detail {
    .nodata {
        text-align: center;
        padding-top: 30px;
    }
    min-height:200px;
    .join-link {
        background: #ff9a00;
        text-align: center;
        font-size:16px;
        position: fixed;
        left:0;
        bottom:0;
        width:100%;
        opacity: .8;
        border-radius:0;
        padding-top: 10px;
        padding-bottom: 10px;
        color:white;
    }
    .main-photo {
        display: block;
        width:100%;
    }
    .detail {
        .title {
            font-size:15px;
            padding-top: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .info {
            position: relative;
            color:#666666;
            padding:10px;
            .iconfont {
                color: #409EDF;
                margin-right: .3em;
            }
        }
        .status-wrap {
            text-align:right;
            position: absolute;right:10px;top:0;
        }
        .status-photo {
            width:70px;
        }
        .sub-title {
            font-weight: 300;
                font-size:14px;
            margin-bottom: 10px;
        }

.p-border{display:none;position:absolute;right:30%;top:85%;width:105px; height:30px;border:2px solid #409EDF;border-radius: 5px;color:blue;line-height:30px;}
.p-gray{
width:100%;
height:100%;
position:fixed;
background:rgba(0,0,0,0.6);
top:0px;
left:0px;
display:none;
z-index:10;
}
.c-tab{width:100%;height:100%;margin:0px auto;}
.p-sign{display:none;position:absolute;left:10%;top:15%;z-index:30;background:#1cad1c;width:246px;height:50px;text-align:center;color:#fff;}
        .p-signup{font-family: "新宋体" ;font-size:18px;}
        .p-signid{font-family: "新宋体" ;font-size:16px;}
        .p-codepic{z-index:30;display:none;height:260px;position:absolute;top:100%;}

        .people {
            border-top: 1px solid #e5e5e5;
            padding:10px;
            .more {
                font-size:13px;
                float: right;
                cursor: pointer;
            }
            .list {
                ul {
                    height: 37px;
                    overflow: hidden;
                    li {
                        float:left;
                        margin-right: 10px;
                    }
                    img {
                        border-radius:32px;
                        width:32px;
                        height:32px;
                    }
                }
                .allshow {
                    height: auto;
                }
            }
        }
        .content {
            border-top: 1px solid #e5e5e5;
            padding:10px;
            .view {
                overflow:hidden;
                padding:5px;

            }
        }
    }

    .detail,
    .summary,
    .gallery,
    .peoplelist{
        display: none;
    }
    .detail {
        display: block;
    }
    // 活动总结
    .summary {
        padding:10px;
    }
    // 照片
    .gallery {
        padding-top: 10px;
        img {
            width:150px;
            padding-left:5px;
            padding-right: 5px;
            margin-bottom: 10px;
            float:left;
        }
    }
    .peoplelist {
        color:#666;
        .item {
            position: relative;
            border-bottom:1px solid #dddddd;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .sort{
            position: absolute;
            left:5px;top:0px;
            display: block;
            text-align: center;
            line-height:17px;
            font-size:12px;
            color:#ff9a00;
        }
        .avatar {
            display: block;
            width:55px;
            height:55px;
            border-radius:50%;
            margin-left: auto;
            margin-right: auto;
        }
        .name {
            color: #409ede;
            font-size:14px;
        }
        .label {
            font-size:14px;
            color:#333;
        }
    }
}