<!DOCTYPE html>
<html lang="en" class="ui-loading-html">
<head>
    <meta charset="UTF-8">
    <title>首页 - Freepa</title>
    <link rel="stylesheet" href="/css/base.scss">
    <link rel="stylesheet" href="/css/common.default.scss">
    <link rel="stylesheet" href="/css/page.activity_list.scss?v=1">
    <script src="/js/base.js"></script>
</head>
<body>
    <div class="c-header" id="user-header"></div>
   	<div class="c-list p-list" id="official" data-page="1"></div>
   	<div class="ui-loading p-listloading" id="officiallistloading"></div>
    <script src="/ajax/user.php"></script>
    <script src="/js/page.activity_list.js"></script>
</body>
</html>