<!DOCTYPE html>
<html lang="en" class="ui-loading-html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>活动详情 - Freepa</title>
    <link rel="stylesheet" href="/css/base.scss">
    <link rel="stylesheet" href="/css/common.default.scss">
    <link rel="stylesheet" href="/css/page.activity_detail.scss">
    <script src="/js/base.js"></script>
</head>
<body>
    <div class="c-header" id="user-header"></div>
   <div class="p-act-detail ui-loading" id="act-detail"></div>
    <script src="/js/base.js"></script>
    <script src="/ajax/user.php"></script>
    <script src="/js/page.activity_detail.js"></script>
</body>
</html>