<!DOCTYPE html>
<html lang="en" class="ui-loading-html">
<head>
    <meta charset="UTF-8">
    <title>合作联系 - Freepa</title>
    <link rel="stylesheet" href="/css/base.scss">
    <link rel="stylesheet" href="/css/common.default.scss">
    <link rel="stylesheet" href="/css/page.concat.scss">
    <script src="/js/base.js"></script>
</head>
<body>
    <div class="c-header" id="user-header"></div>
    <div class="p-banner">
          <img src="/img/cooperate.jpg" width="100%" >
    </div>
    <div class="p-info">广告及各种合作，请发邮箱sunnysun@freepa.cn,请简要写明合作需求，注明：xx合作(广告合作、商业合作、场地合作等)
    </div>

<div class="ui-form-gary p-concat-form">
        <form action="/ajax/concat.php" id="concat-form" method="post" class="ui-form ui-form-singe">
            <div class="ui-form-item">
                <input id="name" name="name" type="text" class="ui-input" placeholder="姓名" />
            </div>
            <div class="ui-form-item">
                <input id="tel" type="tel" name="tel" class="ui-input" placeholder="手机号" />
            </div>
            <div class="ui-form-item">
                <input id="email" type="email" name="email" class="ui-input" placeholder="邮箱" />
            </div>
            <div class="ui-form-item">
                <textarea id="important" type="text" name="import" class="ui-input" placeholder="注明：xx合作(如广告合作、内容合作等)邮箱" ></textarea>
            </div>
            <div class="ui-form-item">
                <button type="submit"  class="ui-button-mmblue ui-button" >提交</button>
            </div>
        </form>
    </div>









    <script src="/dist/js/base.js"></script>
    <script src="/ajax/user.php"></script>
    <script src="/dist/js/page.concat.js"></script>
</body>
</html>




















