<!DOCTYPE html>
<html lang="en" class="ui-loading-html">
<head>
    <meta charset="UTF-8">
    <title>首页 - Freepa</title>
    <link rel="stylesheet" href="/css/base_50df0e5.css">
    <link rel="stylesheet" href="/css/common.default_4fafc90.css">
    <link rel="stylesheet" href="/css/page.join_history.scss">
    <script src="/js/base_3a13238.js"></script>
</head>
<body>
    <div class="c-header" id="user-header"></div>
   	<div class="c-list p-list" id="join_history" data-page="1"></div>
   	<div class="ui-loading p-listloading" id="join_historylistloading"></div>
    <script src="/js/base_3a13238.js"></script>
    <script src="/ajax/user.php"></script>
    <script src="/js/page.join_history_d434ea7.js"></script>
</body>
</html>