<!DOCTYPE html>
<html lang="en" class="ui-loading-html">
<head>
    <meta charset="UTF-8">
    <title>活动详情 - Freepa</title>
    <link rel="stylesheet" href="/css/base_50df0e5.css">
    <link rel="stylesheet" href="/css/common.default_4fafc90.css">
    <link rel="stylesheet" href="/css/page.activity_detail_f1b1867.css">
    <script src="/js/base_3a13238.js"></script>
</head>
<body>
    <div class="c-header" id="user-header"></div>
   <div class="p-act-detail ui-loading" id="act-detail"></div>
    <script src="/js/base_3a13238.js"></script>
    <script src="/ajax/user.php"></script>
    <script src="/js/page.activity_detail_b5f9fa6.js"></script>
</body>
</html>