<!DOCTYPE html>
<html lang="en" class="ui-loading-html">
<head>
    <meta charset="UTF-8">
    <title>登录 - Freepa</title>
    <link rel="stylesheet" href="/css/base_50df0e5.css">
    <link rel="stylesheet" href="/css/common.default_4fafc90.css">
    <link rel="stylesheet" href="/css/page.login_572c667.css">
    <script src="/js/base_3a13238.js"></script>
</head>
<body>
    <div class="c-header">
        <div class="ui-grid">
            <div class="ui-grid-row">
                <div class="ui-grid-2">
                    <a href="#" class="s-back-link">取消</a>
                </div>
                <div class="ui-grid-8 title">
                    登录
                </div>
                <div class="ui-grid-2">

                </div>
            </div>
        </div>
    </div>
    <div class="c-jumbotron">
        <h1><img src="/img/logo2.jpg" class="logo" alt="Freepa"></h1>
        <p>一个开放励志的O2O社区</p>
    </div>
    <div class="ui-form-gary">
        <form action="/ajax/login.php" onSubmit="javascript:return false;" id="login-form" method="post" class="ui-form ui-form-singe">
            <div class="ui-form-item">
                <input id="email" name="email" type="email" class="ui-input" placeholder="邮箱" />
            </div>
            <div class="ui-form-item">
                <input id="password" type="password" name="password" class="ui-input" placeholder="密码" />
            </div>
            <div class="ui-form-item">
                <button type="submit" class="ui-button-mmorange ui-button" >登录</button>
            </div>
            <div class="ui-form-item">
				<div class="txt">其它方式登录：<a href="#" class="iconfont">&#xe602;</a></div>
                <p class="info">
                    还没有账号？立即<a href="/view/register.html">注册</a>
                </p>
            </div>
        </form>
    </div>
    <script src="/js/base_3a13238.js"></script>
    <script src="/ajax/user.php"></script>
    <script src="/js/page.login_5e35f2e.js"></script>
</body>
</html>